<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">event</i>
                        </div>
                        <h4 class="card-title">{{ actualizando ? 'Editar Agenda' : 'Agregar Agenda' }}</h4>
                    </div>
                    <div class="card-body">
                        <form #agendaForm="ngForm" (ngSubmit)="guardarAgenda()">
                            <div class="row justify-content-center">
                                <div class="col-md-10">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Fecha y Hora</mat-label>
                                        <input matInput [matDatepicker]="picker" id="fecha_hora" name="fecha_hora"
                                            [(ngModel)]="agenda.fecha_hora" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>

                                </div>

                                
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="search-container">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Propiedad</mat-label>
                                            <input matInput id="id_propiedad" name="id_propiedad"
                                                [(ngModel)]="agenda.id_propiedad" required>
                                        </mat-form-field>
                                        <button mat-icon-button type="button" (click)="openPropiedadesModal()">
                                            <mat-icon>search</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Cliente</mat-label>
                                            <input matInput id="id_usuario" name="id_usuario"
                                                [(ngModel)]="agenda.id_usuario" required>
                                        </mat-form-field>
                                        <button mat-icon-button type="button" (click)="openUsuariosModal()">
                                            <mat-icon>search</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>




                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput id="comentarios" name="comentarios" placeholder="Comentarios"
                                            [(ngModel)]="agenda.comentarios" required></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" [disabled]="!agendaForm.form.valid">{{
                                    actualizando ? 'Guardar Cambios' : 'Agregar' }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>