<div class="modal-content">
    <h4>{{ modalTitle }}</h4>
    <form (ngSubmit)="guardarTipoPropiedad()" #tipoPropiedadForm="ngForm">
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput id="descTipoProp" name="descTipoProp" placeholder="Descripción del Tipo de Propiedad"
                    [(ngModel)]="tipoPropiedad.desc_tipoProp" required>
            </mat-form-field>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-info btn-sm" (click)="cerrarModal()">Cancelar</button>
            <button type="submit" class="btn btn-primary btn-sm">{{ modalAction }}</button>
        </div>
    </form>
</div>
