<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">group</i>
                        </div>
                        <h4 class="card-title">Formulario de Usuario</h4>
                    </div>
                    <div class="card-body">
                        <form #usuarioForm="ngForm" (ngSubmit)="guardarUsuario()">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput id="nombre" name="nombre" placeholder="Nombre"
                                            [(ngModel)]="usuario.nombre" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput id="apellido" name="apellido" placeholder="Apellido"
                                            [(ngModel)]="usuario.apellido" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput id="correo" name="correo" placeholder="Correo"
                                            [(ngModel)]="usuario.correo" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput id="documento" name="documento" placeholder="Documento"
                                            [(ngModel)]="usuario.documento" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Tipo de documento</mat-label>
                                        <mat-select id="tipo_documento" name="tipo_documento" [(ngModel)]="usuario.tipo_documento" required>
                                            <mat-option value="CC">CC</mat-option>
                                            <mat-option value="TI">TI</mat-option>
                                            <mat-option value="DNI">DNI</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput id="telefono" name="telefono" placeholder="Teléfono"
                                            [(ngModel)]="usuario.telefono" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput id="descripcion" name="descripcion" placeholder="Descripción"
                                            [(ngModel)]="usuario.descripcion" required></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width" *ngIf="!actualizando">
                                        <input matInput type="password" id="password" name="contrasena" placeholder="Contraseña"
                                            [(ngModel)]="usuario.contrasena" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Rol</mat-label>
                                        <mat-select id="idRol" name="id_rol" [(ngModel)]="usuario.id_rol" required>
                                            <mat-option value="1">Administrador</mat-option>
                                            <mat-option value="2">Vendedor</mat-option>
                                            <mat-option value="3">Usuario</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="!usuarioForm.form.valid">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>